pkg_firmware:
	- intel-audio-firmware
	- intel-gpu-firmware
	- linux-firmware
	- realtek-firmware

pkg_tty:
	- openssh
	- curl
	- bash-completion
	- vim
	- tmux
	- htop
	- fzf
	- setroubleshoot-server
	- man-db
	- man-pages
	- nvtop
	- terminus-fonts-console
	- dejavu-sans-mono-fonts

pkg_desktop_apps:
	- cosmic-edit
	- cosmic-files
	- cosmic-player
	- cosmic-session
	- alacritty
	- vlc
	- flatpak
	- xdg-desktop-portal
	- wireshark

pkg_network:
	- iproute
	- NetworkManager-wifi
	- wpa_supplicant
	- wireguard-tools

pkg_audio_stack:
	- pipewire
	- wireplumber
	- pipewire-pulse

pkg_data_tools:
	- timeshift
	- rsync
	- git

pkg_virtualisation:
	- @virtualization

containres:
	- podman
	- podman-compose
	- podman-docker
	- podman-tui
