# GROUP MANAGEMENT
groups.system=wheel;libvirt;docker;wireshark
# USER MANAGEMENT
user.login=toto2
user.id=1002

# DOTFILES REPO
# Description ; repo of config files to be installed in ~/.config
dotfiles.repo = https://github.com/clementdlg/dotfiles.git
dotfiles.branch = hyprland

# NATIVE PACKAGES
# Description ; packages to be installed with the native package manager, sorted by groups
pkg.tty=bash-completion;vim;tmux;htop;fzf;unzip;tar;diffutils;tree;tldr;setroubleshoot-server;man-db;man-pages
pkg.data_utils=syncthing;timeshift;rsync
pkg.networking=iputils;iproute;traceroute;tcpdump;telnet;netcat;bind-utils;wget;curl;wireguard-tools;w3m;wireshark

# not in repos ; nwg-displays;ttf-dejavu-nerd;catppuccin-sddm-theme-mocha;librewolf

# 3RD PARTY REPOS
repo.fedora.copr.1.user=solopasha
repo.fedora.copr.1.project=hyprland
repo.fedora.copr.2.user=agriffis
repo.fedora.copr.2.project=neovim-nightly

repo.fedora.rpmfusion=free;nonfree

repo.debian.1.name=docker
repo.debian.1.url=https://example.com/linux
repo.debian.1.distro=bookworm
repo.debian.1.components=comp1;comp2;comp3
repo.debian.1.key=https://example.com/linux/gpg
repo.debian.1.arch=amd64

# 3RD PARTY PACKAGES
# Description ; packages installed using third-party package managers
flatpak.packages=com.discordapp.Discord;com.github.wwmm.easyeffects;md.obsidian.Obsidian;org.signal.Signal;org.qbittorrent.qBittorrent;org.remmina.Remmina;org.filezillaproject.Filezilla;org.onlyoffice.desktopeditor;org.prismlauncher.PrismLauncher

pipx.packages=labctl;yt-dlp

npm.packages =
cargo.packages =
aur.packages=

# GIT REPOSITORIES
# Description ; repos to clone in $repo.path base directory
git_clone.1.path=scripts
git_clone.1.url=https://github.com/clementdlg/scripts
git_clone.1.branch=main


####    SYSTEMD UNITS    ####
# Description ; systemd unit file to enable
systemd.target=graphical
systemd.service.system=NetworkManager;bluetooth;libvirtd;sddm
systemd.service.user=syncthing;pipewire;pipewire-pulse;xdg-desktop-portal-hyprland

####    FIREWALL RULES    ####
# Description ; manage firewall rules using firewall-cmd
fw.service=syncthing
fw.ports=

####    LIBVIRT CONFIG    ####
# Description ; change libvirt config
libvirt.pools =isos,/home/$USER/virt/isos;qcows,/home/$USER/virt/qcows
libvirt.uri=qemu;///system

####    DISK MOUNTS    ####
disk.fstab=/dev/vdc,/home/$USER,btrfs;/dev/vdd,/home/$USER/test,ext4
# UUID=12312312-3232-2323-5123-31523ffffff2	/home/krem	ext4	defaults,rw	0 2

