# GROUP MANAGEMENT
groups.system=wheel;libvirt;docker;wireshark
# USER MANAGEMENT
user.login=krem
user.id=1002

# DOTFILES REPO
# Description : repo of config files to be installed in ~/.config
dotfiles.repo = https://github.com/clementdlg/dotfiles.git
dotfiles.branch = hyprland

# NATIVE PACKAGES
# Description : packages to be installed with the native package manager, sorted by groups
pkg.tty=bash-completion;vim;tmux;htop;fzf;unzip;tar;diffutils;tree;tldr;setroubleshoot-server;man-db;man-pages
pkg.data-utils=syncthing;timeshift;rsync
pkg.networking=iputils;iproute;traceroute;tcpdump;telnet;netcat;bind-utils;wget;curl;wireguard-tools;w3m;wireshark

# 3RD PARTY REPOS
# Description : add additionnal repo corresponding to your distro
# Supported : fedora copr, fedora rpmfusion, debian
repo.fedora.copr.toto.user=solopasha
repo.fedora.copr.toto.project=hyprland
repo.fedora.copr.titi.user=agriffis
repo.fedora.copr.titi.project=neovim-nightly

repo.fedora.rpmfusion=free;nonfree

repo.debian.mynewrepo.name=docker
repo.debian.mynewrepo.url=https://example.com/linux
repo.debian.mynewrepo.distro=bookworm
repo.debian.mynewrepo.components=comp1;comp2;comp3
repo.debian.mynewrepo.key=https://example.com/linux/gpg
repo.debian.mynewrepo.arch=amd64

# 3RD PARTY PACKAGES
# Description : packages installed using third-party package managers
flatpak.packages=com.discordapp.Discord;com.github.wwmm.easyeffects;md.obsidian.Obsidian

pipx.packages=labctl;yt-dlp

npm.packages =
cargo.packages =
aur.packages=

# GIT REPOSITORIES
# Description : repos to clone in $repo.path base directory
git-clone.scripts.path=scripts
git-clone.scripts.url=https://github.com/clementdlg/scripts
git-clone.scripts.branch=main


####    SYSTEMD UNITS    ####
# Description : systemd unit file to enable
systemd.target=graphical
systemd.service.system=NetworkManager;bluetooth;libvirtd;sddm
systemd.service.user=syncthing;pipewire;pipewire-pulse;xdg-desktop-portal-hyprland

####    FIREWALL RULES    ####
# Description : manage firewall rules using firewall-cmd
fw.services=syncthing
fw.ports=

####    LIBVIRT CONFIG    ####
# Description : change libvirt config
libvirt.pool.whatever.name = isos
libvirt.pool.whatever.path = virt/isos
libvirt.pool.what3v3r.name = qcows
libvirt.pool.what3v3r.path = virt/qcows
libvirt.rootless.enable=true

