# CONFIG
####                     ####
####    DOTFILES REPO    ####
####                     ####

# Description : repo of config files to be installed in ~/.config
dotfiles_repo = clementdlg/dotfiles
dotfiles_branch = hyprland

####                       ####
####    PACMAN PACKAGES    ####
####                       ####

# Description : packages to be installed with the native package manager, sorted by groups
pkg_firmware=intel-audio-firmware:intel-gpu-firmware:linux-firmware:nvidia-gpu-firmware:realtek-firmware

pkg_tty=bash-completion:vim:tmux:htop:fzf:unzip:tar:diffutils:tree:tldr:setroubleshoot-server:man-db:manpages

pkg_hyrland_copr = hyprland:hyprpaper:hyprshot:swaync:xdg-desktop-portal-hyprland:hyprlock:hypridle

pkg_desktop_apps=alacritty:vlc:flatpak:sddm:rofi-wayland:waybar:xdg-desktop-portal

pkg_device_management=NetworkManager-wifi:wpa_supplicant:network-manager-applet:blueman:bluez:brightnessctl:playerctl:bluetoothctl:nvtop

pkg_audio_stack=pipewire-jack:pipewire:wireplumber:pipewire-pulse:pavucontrol:alsa-utils

pkg_data_tools=syncthing:timeshift:rsync

pkg_dev = git:cargo:python3-pip:pipx:jq:nodejs-npm

pkg_virtualisation=virt-install:libvirt-daemon-network:libvirt-daemon-kvm:qemu-kvm:virt-manager:virt-viewer

pkg_network_admin=iputils:iproute2:traceroute:netcat:bind-utils:wget:curl:wireguard-tools:tcpdump:w3m:wireshark

pkg_devops=openssh:docker:docker-compose:ansible:azure-cli

pkg_tty_fancy=neovim:ripgrep:btop:colordiff:bat:fastfetch

pkg_assets=papirus-icon-theme:dejavu-sans-mono-fonts:terminus-fonts-console

# pkg_unshure=polkit:acpi(d)

# not in repos : nwg-displays:ttf-dejavu-nerd:catppuccin-sddm-theme-mocha:librewolf

####                          ####
####    3RD-PARTY PACKAGES    ####
####                          ####

# Description : packages installed using third-party package managers
flatpak_packages=com.discordapp.Discord:com.github.wwmm.easyeffects:md.obsidian.Obsidian:org.signal.Signal:org.qbittorrent.qBittorrent:org.remmina.Remmina:org.filezillaproject.Filezilla:org.onlyoffice.desktopeditor:org.prismlauncher.PrismLauncher

pipx_packages=labctl:yt-dlp

npm_packages =
cargo_packages =
aur_packages=

####                        ####
####    GIT REPOSITORIES    ####
####                        ####

# Description : repos to clone in $repo_path base directory
repos_path="/home/$USER/repos"
repos_target=clementdlg/scripts:clementdlg/arch-btrfs-install


####                     ####
####    SYSTEMD UNITS    ####
####                     ####

# Description : systemd unit file to enable
systemd_services=pipewire.service:pipewire-pulse.service
systemd_services_user=syncthing.service

####                      ####
####    FIREWALL RULES    ####
####                      ####

# Description : manage firewall rules using firewall-cmd
fw_services=syncthing
fw_ports=

####                       ####
####    USER MANAGEMENT    ####
####                       ####

# Description : settings for users
user_groups=wheel:libvirt:docker:wireshark

####                      ####
####    LIBVIRT CONFIG    ####
####                      ####

# Description : change libvirt config
libvirt_pools =isos,/home/$USER/virt/isos:qcows,/home/$USER/virt/qcows
libvirt_uri=qemu:///system

####                   ####
####    DISK MOUNTS    ####
####                   ####
disk_startup_mount=/dev/vdc,/home/$USER,btrfs:/dev/vdd,/home/$USER/test,ext4
# UUID=12312312-3232-2323-5123-31523ffffff2	/home/krem	ext4	defaults,rw	0 2

