####    REGIONAL SETTINGS    ####
keyboard --vckeymap=fr --xlayouts='fr'
lang en_US.UTF-8
timezone Europe/Paris --utc

# Run the Setup Agent on first boot
firstboot --enable

####    DISKS    ####
ignoredisk --only-use=vda
clearpart --all --initlabel

part /boot --fstype="ext4" --ondisk=vda --size=1536 --label=BOOT
part /boot/efi --fstype="efi" --ondisk=vda --size=512 --fsoptions="umask=0077,shortname=winnt" --label=EFI

part btrfs.188 --fstype="btrfs" --ondisk=vda --size=18430 --encrypted --luks-version=luks2 --passphrase=krem
btrfs / btrfs.188

####    BOOTLOADER    ####
bootloader --boot-drive=vda

####    USERS    ####
rootpw --lock
user --groups=wheel --name=krem --password=$y$j9T$THvMXurg4npoxPO17XrF0RRg$FgFqMyQ2rvze2cJUuq1xLS7Ix0NhIS1EBdHwGAKp4B0 --iscrypted --gecos="krem"

####    PACKAGES    ####
%packages
@core

%end

